<table width='<%=o.options.width%>' style='height: <%=o.options.height%>' class='gvHeader' cellspacing=0 cellpadding=0>
	<tr><%
		if(o.options.selectionColumn) {
		%>
			<td><input type='checkbox' class='selectionColumn selectAll'/></td>
		<%
		}
		_.each(o.options.columns, function(column) {%>
		<td width='<%=o.options.width / o.options.columns.length%>'><p><%=column.label%></p></td>
		<%})%>
	</tr>
</table>
<div class='gridWrapper' style='width:<%=o.options.width%>px; height:<%=o.options.height%>px;'>
	<table width='<%=o.options.width%>'cellspacing=0 cellpadding=0 class='gvGrid'/>
</div>
