<%
	if(o.options.selectionColumn) {
%>
	<td><input class='selectionColumn' type='checkbox'/></td>
<%
	}
%>
<%_.each(o.options.columns, function(column) { 
	var val = column.formatter ? column.formatter.call(o.model, o.model[column.key]) : o.model[column.key],
		sClassName = column.className ? "class='" + column.className + "'" : "",
		editableField = column.editable ? "<input class='editField' type='text' value='" + o.model[column.key] + "'/>" : "";
%> 
	<td <%-sClassName%> key='<%-column.key%>' width='<%=o.options.width / o.options.columns.length%>'><p><%=val%></p><%=editableField%></td> 
<%});%>
